/* Page layout. */

body {
  background-color: #FFFFFF;
  padding: 0;
  border: 0;
  margin: 0;
}

#outer-header {
  display: block;
  min-width: 42em;
  height: 6em;
  text-align: left;
  background-color: #7FBFFF;
}

#header {
  margin-left: auto;
  margin-right: auto;
  min-width: 42em;
  max-width: 72em;
  height: 6em;
}

#logo {
  float: left;
}

#logo img {
  height: 6em;
}

#search {
  float: right;
  height: 2em;
  margin: 1em 0 0 0;
  padding: 0 0 0 1em;
}

#menu {
  float: right;
  margin: 0 0 0 0;
  list-style: none;
}

#menu li {
  display: block;
  float: left;
  position: relative;
  height: 2em;
  padding: 0 0 0 1em;
  margin: 0;
}

#menu li a {
  font-family: sans-serif;
  color: #000000;
}

#main {
  min-width: 42em;
  max-width: 72em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #FFFFFF;
}

#content {
  padding: 1em;
  margin-right: 12em;
}

#panels {
  display: float;
  float: right;
  clear: both;
  width: 12em;
  margin-left: -12em;
}

#outer-footer {
  display: block;
  min-width: 42em;
  background-color: #7FBFFF;
}

#footer {
  min-width: 42em;
  max-width: 72em;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
}

#footer ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 2em;
}

#footer ul li {
  display: inline;
  padding: 0 0.5em;
  margin-top: 0;
}

#footer ul li a {
  font-family: sans-serif;
}

#copyright {
  text-align: center;
  line-height: 2em;
}

#cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  z-index: 99;
  color: #fff;
  background-color: #666;
}

#cookies p {
  padding: 0;
  margin: 3pt 0;
}

#cookies a {
  text-decoration: underline;
  color: #fff;
}

#cookies a:visited {
  text-decoration: underline;
  color: #fff;
}

#cookies input {
  padding: 0;
  border: 1pt solid white;
  margin: 0;
  color: #fff;
  background-color: #666;
}

/* Panels */

div.panel {
  padding: 0.25em 1em 0.5em 1em;
  border: 1pt solid black;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #CFE7FF;
}

div.panel h2 {
  margin: 0 0 0.25em 0;
  text-align: center;
  font: bold 100% sans-serif;
}

div.linkto {
  margin-top: 1em;
}

div.flattr {
  margin-top: 1em;
}

#google {
  height: 32px;
  margin: 0.5em 0 0 0;
}

#facebook {
  height: 32px;
  margin: 0.5em 0 0 0;
}

#twitter {
  height: 32px;
  margin: 0.5em 0 0 0;
}

a.enable span {
  position: relative;
  top: -7px;
  font-size: 15px;
  padding: 3px 3px;
  border: solid #AAAAAA thin;
  border-radius: 0.25em;
  background-color: #FFFFFF;
}

a.enable:link {
  color: #444444;
}

a.enable:visited {
  color: #444444;
}

ul.topics {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
}

div#rating ul {
  padding: 0;
  border: 0;
  margin: 0.5em 0 0.5em 0;
  list-style-type: none;
}

div#rating ul input {
  margin: 0 0.5em 0 0;
}

div#rating button {
  margin: 0 0.25em 0 0.25em;
}

/* Table of contents */

div.toc {
  overflow: hidden;
  padding: 0;
  border: 0;
  margin: 0;
}

table.toc {
  padding: 0.25em 1em 0.5em 1em;
  border: thin solid gray;
  margin: 0;
  font: 80% normal serif;
  background-color: #FFF3CF;
}

table.toc ul {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
}

table.toc ul ul {
  padding: 0 0 0 2em;
  border: 0;
  margin: 0;
  list-style-type: none;
}

table.toc h2 {
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  font: bold 120% sans-serif;
}

/* Category list */

div.categories {
  padding: 0.25em;
  border: thin solid gray;
  margin: 0;
  background-color: #CFE7FF;
}

p.categories {
  padding: 0;
  border: 0;
  margin: 0;
}

/* Page title list */

td.dl-date {
  padding: 0 0.5em 0 0;
}

/* Cross reference list */

table.see tr td:first-child {
  padding-left: 1em;
  padding-right: 0.5em;
}

/* Information boxes */

div.infobox {
  float: right;
  clear: right;
  width: 25%;
  padding: 0;
  border: 0;
  margin: 0.5em 0 0.5em 1em;
  font-size: 80%;
  background-color: #BFDFFF;
}

div.errorbox {
  float: right;
  clear: right;
  width: 25%;
  padding: 0;
  border: 0;
  margin: 0.5em 0 0.5em 1em;
  font-size: 80%;
  background-color: #FFBFBF;
}

div.infobox h2 {
  padding: 0;
  border: 0;
  margin: 0 0 0.5em 0;
  text-align: center;
  font: bold 120% sans-serif;
  background-color: #7FBFFF;
}

div.errorbox h2 {
  padding: 0;
  border: 0;
  margin: 0 0 0.5em 0;
  text-align: center;
  font: bold 120% sans-serif;
  background-color: #FF7F7F;
}

div.infobox table,div.errorbox table {
  width: 100%;
  padding: 0.25em;
  border: thin solid gray;
  margin: 0;
  text-align: center;
}

/* Page content */

h1 {
  border-bottom: solid thin gray;
  font: 160% sans-serif;
}

h2 {
  font: 140% sans-serif;
}

h3 {
  font: 120% sans-serif;
}

table.data {
  border-collapse: collapse;
}

table.data tr td {
  padding: 0.2em 0.4em 0.2em 0.4em;
  border: thin solid gray;
}

table.data tr th {
  padding: 0.2em 0.4em 0.2em 0.4em;
  border: thin solid gray;
}

table.numeric tr td {
  text-align: right;
}

table.headers {
  border-collapse: collapse;
}

table.headers tr td {
  padding: 0 0.4em 0 0.4em;
  border: thin solid gray;
}

table.headers tr th {
  padding: 0 0.4em 0 0.4em;
  border: thin solid gray;
  font: bold 100% sans-serif;
}

pre {
  font-size: 80%;
}

pre.code {
  padding: 1em;
  border: thin dashed blue;
  white-space: pre-wrap;
}

pre.output {
  padding: 1em;
  border: thin dashed green;
  white-space: pre-wrap;
}

pre.error {
  padding: 1em;
  border: thin dashed red;
  white-space: pre-wrap;
}

span.grey {
  color: gray;
}

span.correct {
  color: green;
}

span.error {
  color: red;
}

/* Images */

img {
  border: none;
}

img.diagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.author {
  float: right;
}

img.feed {
  width: 1em;
  height: auto;
  position: relative;
  bottom: -0.2em;
  border: none;
}

/* Hyperlinks */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Adverts */

#adsense-banner {
  width: 728px;
  margin-left: auto;
  margin-right: auto;
}

#adsense-panel {
  padding: 0.25em 1em 0.5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1pt solid black;
  background: transparent;
}

#amazon-panel {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  border: 1pt solid black;
  background: transparent;
}

@media print {
  #header {
    width: 100%;
  }

  #header ul {
    display: none;
  }

  #main {
    width: 100%;
  }

  #content {
    margin: 0;
    padding: 0;
  }

  #panels {
    display: none;
  }

  #footer {
    width: 100%;
    height: 3em;
  }

  #footer ul {
    display: none;
  }

  #search {
    display: none;
  }

  #adsense-banner {
    display: none;
  }

  #cookies {
    display: none;
  }
}

@media (max-width: 600px) {
  #search {
    display: none;
  }

  #content {
    margin-right: 0;
  }

  #panels {
    display: none;
  }

  table.toc {
    font: 100% normal serif;
  }
}
