/* ===[ This css appears to be used for most pages except the front page, which has its own CSS ]=== */
/* main color: #3a83b1; */

/* FONT IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

body {
  margin: 0px;
  background: #f6f6f6;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}

.container_full{
  margin: 0 50px;
  position: relative;
}

/* --------------------- main blue top menu -------------------- */

#right_menu{
  text-align: right;
}

#tops {
  /* main blue rectangle */
  background: #3a83b1;
}

.topmenu {
  display: inline-block;
  padding: 20px 0;
  width: 500px;
}

.topmenu a {
  /* each of the five main links */
  display: inline;
  font-family: "Open Sans";
  color: #fff;
  opacity: 0.8;
  margin: 0 2%;
  font-size: 15px;
}

.topmenu a:hover {
  transition: all 300ms;
  opacity: 0.9;
  text-decoration: none;
}


#bogo {
  position: absolute;
  top: 15px;
  left: 0;
}
#bogo a {
  /* bogotobogo logo top left */
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

#bogo a:hover {
  text-decoration: none;
}

/* MENU SEARCH BOX */

#menu_search_box{
  display: inline-block;
}

#menu_search_box input{
  border: none!important;
  transition: all 0.2s;
  cursor: pointer;
}



#menu_search{
  width: 200px;
  background: #357DAA!important;
  padding: 22px 25px!important;
  border: none!important;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  position: relative;
  top: -2px;
  right: -4px;
}

#menu_search:hover{
  background: #2B73A0!important;
}

#menu_search_button{
  background: #357DAA url('search_icon.png') no-repeat center center!important;
  padding: 25px 30px;
}

#menu_search_button:hover{
  background-color: #2B73A0!important;
}
/* --------------------- dark blue main_menu -------------------- */
#main_menu {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  background: #2b73a0;
  text-align: left;
  position: relative;
  top: -2px;

}

#main_menu a {
  color: #fff;
  opacity: 0.8;
  padding: 15px 10px;
  display: inline;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: all .2s;
}

#main_menu a:hover {
  opacity: 1;
  background: #3a83b1;
  text-decoration: none;
}

/* --------------------- linklist is the sidebar  ------------- */
.linklist {
  width: 18%;
  margin-right: 8%;
  margin-left: 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: left;
  margin-top: 58px;
  float: right;
}
.linklist h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #444;
  text-align: center;
}

.linklist ul{
  background: #fff;
  padding: 0;
  border: 1px solid #ccc;
}

.linklist li {
  /* each linklist link */
  list-style-type: none;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0;

}
.linklist li a {
  padding: 8px 10%;
  color: #000;
  font-size: 14px;
  color: #000;
  display: block;
  transition: all .2s;
}

.linklist li:hover {
  color: #fff;
  background: #eee;
  
}
.linklist li:hover a {
  text-decoration: none;
}

/* -------------- Google column ad -------- */
.skyscraper {
  margin-left: 10%;
}

/* -------------- contenttext is the main text part  -------------- */
#contenttext {
  /* used for pages with two columns */
  width: 56%;
  left: 8%;
  position: relative;
  padding: 3%;
  background: #fff;
  margin-top: 60px;
  float: left;
}

.blurb{
  font-family: 'Open Sans';
}



#onecontenttext {
  /* used for pages with only one column of main text */
  width: 70%;
  padding: 3%;
  background: #fff;
  margin-top: 50px;
}

.bodytext {
  font-family: "Open Sans", sans-serif;
  font-variant: normal;
  font-weight: 400;
  font-size: 17px;
  color: #323232;
}

.bodytext a{
  color: #1F82C0;
}

.bodytext p{
  line-height: 1.5em;
  margin: 25px 0;
  text-align: left;
}

.bodytext b{
  font-weight: 600;
}

.titletext {
  /* main black titles */
  font-family: "Source Sans Pro";
  font-size: 54px;
  font-weight: 600;
  color: #111;
  padding: 25px;
  z-index: 2;
}

li {
  padding: 5px 0;
}

pre {
  font-weight: bold;
  color: #323232;
  font-family: "Courier New";
  font-size: 15px;
  background: #f8f8f8;
  padding: 20px 20px;
  border-left: 10px solid #e8e8e8;
  width: 650px;
  overflow: auto;
  margin: 10px 0;
}

.subtitle {
  font-family: "Source Sans Pro";
  font-size: 42px;
  text-align: left;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
  padding-top: 8px;
  line-height: 1.1em;
}

.subtitle_2nd {
  font-family: "Ubuntu";
  font-size: 32px;
  font-weight: 500;
  color: #555;
  line-height: 1.1em;
}

/* -------------- T A B L E S ------------------ */
table, td, th {
  border: 1px solid #ccc;
  font-size: 16px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #eee;
  padding: 15px 10px;
  font-weight: 400;
}

.clear {
  /* important for floats */
  clear: both;
}


#footer{
  color: #888;
  font-family: "Source Sans Pro";
  padding: 10px;
}

#footer a{
  color: #888;
}

/* --------------- didn't really use this stuff ------------- */
.footer {
  height: 200px;
  padding: 30px 100px 20px 250px;
}

.link {
  background: transparent;
  float: left;
  font-family: "Lato", sans-serif;
  width: 200px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding: 0 20px;
  height: 170px;
}
.link h1 {
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px 0 5px 0;
}
.link a {
  text-decoration: none;
  color: #ffffff;
}

#logo {
  float: left;
  height: 140px;
  width: 140px;
  background-image: url(tiger.gif);
  background-position: left center;
  margin-top: 20px;
  margin-left: 10px;
}

#topheader {
  float: right;
  width: 556px;
  height: 97px;
  background-color: #f0f0f0;
  position: relative;
  margin-top: 20px;
}

#toplinks {
  position: absolute;
  right: 10px;
  top: 10px;
}

#rightpanel {
  float: right;
  width: 300px;
  margin-left: 50px;
  font-weight: normal;
  color: midnightblue;
  font-size: 14px;
  font-family: times, serif;
  font-style: italic;
}

ul.NoBullet {
  list-style-type: none;
}

#leftpanel {
  float: right;
  width: 200px;
  margin-top: 50px;
}

#bookmarkshare {
  float: right;
  margin-top: 50px;
}

.graypanel {
  border: 1px solid #666666;
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f7;
}

.headerbodytext {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 0.7em;
  line-height: normal;
  color: #666666;
  margin-left: 30px;
}

.subtitle_3rd {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: bold;
  /* color: rgb(204, 0, 0); */
  color: #006e96;
}

.whitetitle {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  color: white;
  font-weight: normal;
  font-size: 20px;
}

.smalltitle {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  color: #cc0000;
}

.smallwhitetext {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 11px;
  font-weight: bold;
  color: white;
}
.smallwhitetext a {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.smallwhitetext a:hover {
  text-decoration: underline;
}

.smallgraytext {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 11px;
  font-weight: bold;
  color: #999999;
}
.smallgraytext a {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 11px;
  font-weight: bold;
  color: #999999;
  text-decoration: none;
}
.smallgraytext a:hover {
  text-decoration: underline;
}

.smallredtext {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 11px;
  font-weight: bold;
  color: #cc0000;
}
.smallredtext a {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 11px;
  font-weight: bold;
  color: #cc0000;
  text-decoration: none;
}
.smallredtext a:hover {
  text-decoration: underline;
}

.footer .text {
  color: #ffffff;
  text-align: center;
  margin-left: -200px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300px;
  font-size: 12px;
}

/*# sourceMappingURL=bogostyleWidePre.css.map */
